$kanit: "Kanit", sans-serif;
$mulish: "Mulish", sans-serif;

// Font Size
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-40: 40px;

// Line Height
$lh-24: 24px;
$lh-26: 26px;
$lh-40: 40px;
$lh-44: 44px;
$lh-47: 47px;
$lh-56: 56px;
